<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class=".bg-primary.bg-gradient">

    

  <div class="wrapper">
    <main>
      
        <div>
            <h1>Welcome Back!</h1>
            <p>l Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi maiores ut architecto, suscipit natus quam nihil nisi labore asperiores quos explicabo ducimus officia quae. Eveniet qui voluptatem et dolore nobis.</p>
        </div>

      <form class="login-form">
        <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" placeholder="username" class="form-input" />
        </div>
        <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" placeholder="password" class="form-input" />
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>

    <footer>
        <p> Don't have an account? <a href="">Sign Up!</a></p>

    </footer>

    
    
    
    </main>






    
  </div>

</body>

</html>